#homegrid{
    margin: 0 auto;
    display: grid;
    width: 100%;
    max-width: 500px;
    grid-template-columns: 50% 50%;
}

#homenav{
    width: 100%;
    max-width: 400px;
    height: 70px;
    margin: 0 auto;
    border-radius: 8px;
    margin-bottom: 8px;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
}
@media (max-width: 480px){
    #homenav{
        max-width: 320px;
    }
}
#homenav h3{
    font-style: italic;
}

#useravatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 8px;
}

.grid{
    padding: 10px;
    height: 180px;
}
.game-card{
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
    padding: 20px;
    height: 100%;
    border-radius: 10px;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.062);
}
.game-card:hover{
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
    background-color: rgba(255, 255, 255, 0.233);
}

.homesvg{
    width: 40px;
}

.img-wrapper{
    background-color: white;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: 0 4px 5px 0 rgba(248, 245, 245, 0.14), 0 1px 10px 0 rgba(250, 250, 250, 0.12), 0 2px 4px -1px rgba(255, 251, 251, 0.2);
    margin-bottom: 27px;
}

a{
    text-decoration: none;
}
