.user-area{
    margin: 0 auto;
    width: 650px;
    display: flex;
    align-items: center;
    padding: 20px;

}

.avatar-img{
    border-radius: 50%;
    width: 40px;
    position:absolute;
    top: 2px;
    left: 2px; 

}
.comp{
  top: 0.5px;
}
.avatar{
    margin-right: 10px;
    position: relative;
}

.thinking {
    opacity: 0;
    font-size: 4px;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #0cff55;
    background: -moz-linear-gradient(left, #0cff55 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #0cff55 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #0cff55 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #0cff55 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #0cff55 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    transition: 0.5s;
  }
  .thinking:before {
    width: 50%;
    height: 50%;
    background: #0cff55;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .thinking:after {
    background: #212121;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .showThinking{
      opacity: 1;
      transition-delay: 0.3s;
  }
  
  .captured {
    width: 300px;
    height: 50px;
    margin-left: 10px;
  }
  
  .cap-piece {
    float: left;
    background-color: rgb(255, 254, 254);
    margin-right: 5px;
    margin-bottom: 5px;
    padding-right: 1px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cap-piece img{
    width: 20px;
  }
