#board-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* height: 100vh; */
    padding: 10px;
    max-width: 500px;
}
b{
    background-color: rgb(red, rgba(44, 230, 44, 0.219), blue);
}
#undo{
    width: 30px;
    height: 30px;
    border: none;
    font-size: 1.4rem;
    color: white;
    background-color: rgb(80, 80, 80);
}
#undo:hover{
    transform: scale(1.1);
    cursor: pointer;
}
